table > caption {
    font-size: 16px;
}
table > caption > .caption-number {
    font-style: normal;
}

.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal !important;
}

.wy-table-responsive {
    overflow : visible !important;
}

table td ul.simple {
    margin-bottom: 0;
}
