table > caption {
    font-size: 16px;
}
table > caption > .caption-number {
    font-style: normal;
}

.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal !important;
}

.wy-table-responsive {
    overflow: visible !important;
}

.table-wide .wy-table-responsive {
    overflow-x: auto !important;
}
.table-wide table.docutils caption {
    text-align: left;
    max-width: 696px;
}

table td ul.simple {
    margin-bottom: 0;
}


.em-blockquote blockquote p {
    font-style: italic;
}
.em-blockquote blockquote p em {
    font-style: normal;
}


fieldset.edna-box {
    border: 1px solid #CCCCCC;
    margin-bottom: 1em;
    padding: 0.5em 1em;
}

fieldset.edna-box > legend {
    width: auto;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 4px 12px;
    margin-bottom: 0;
}
